# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System files
Thumbs.db
Desktop.ini
.DS_Store

# Virtual environments
venv/
.venv/
env/
.env/

# Generated Excel outputs & lock files
dpost_import_*.xlsx
~$*.xlsx

